@import './spinner.scss';
@import './instagram-button.scss';

html, body {
  font-weight: 100;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  color: white;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


body {
  text-shadow: 0px 1px 2px #000;
  font-family: "Helvetica";
  font-weight: light;
  background: url('/images/dark_embroidery.png');
  width: 100%;
  height: 100%;
  overflow: hidden;
  .wrapper {
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8) inset;
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    .gallery {
      width: 1000%;
    }
    .gallery-wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: block;
      width: 100%;
      overflow: visible;
      transition: ease all 0.2s;
      &.past {
        -webkit-filter: grayscale(100%) blur(4px);
        .image-wrapper {
          -webkit-filter: none;
        }
        transition: ease all 0.2s;
        .image-wrapper {
          opacity: 1 !important;
          -webkit-transform: scale(0.8);
          .image {
            width: 240px;
            height: 240px;
          }
          &.selected {
            width: 240px;
            height: 240px;
            margin-top: 0;
          }
        }
      }
      div.image-wrapper {
        cursor: pointer;
        left: 0;
        top: 0;
        width: 240px;
        height: 240px;
        position: relative;
        display: block;
        float: left;
        transition: ease all 0.2s;
        -webkit-fransform: translate3d(0,0,0);
        will-change: width, height;
        margin: 0 10px;
        &:not(.selected):hover {
          -webkit-transform: scale(1.03);
        }
        &.selected:active {
          -webkit-transform: scale(0.9);
        }
        &:not(.selected):active {
          -webkit-transform: scale(0.95);
        }

        &.right-hidden {
          opacity: 0.1;
        }
        &.invisible {
          display: none;
        }
        &.left-hidden {
          margin-left: -240px;
          opacity: 0.1;
        }
        &.selected {
          z-index: 1000;
          width: 640px;
          height: 640px;
          margin-top: -180px;
        }
        &.selected .user {
          opacity: 1;
        }
        .user {
          color: #eee;
          font-size: 12px;
          line-height: 36px;
          padding: 5px 0;
          opacity: 0.2;
          .username:hover {
            cursor: pointer;
            color: white;
          }
          .username {
            color: #aaa;
            display: block;
            float: left;
          }
          .caption {
            margin-left: 5px;
            display: block;
            float: left;
            width: calc(100% - 180px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          img {
            border-radius: 32px;
            width: 24px;
            height: 24px;
            display: inline-block;
            float: left;
            margin: 5px 8px 0 0;
            box-shadow: 0px 0px 3px black;
            border: 1px solid white;
          }
        }
        div.image {
          overflow: hidden;
          will-change: width, height;
          width: 100%;
          height: 100%;
          display: block;
          // -webkit-transition: ease -webkit-filter 0.5s;
          &:not(.no-image){
            box-sizing: border-box;
            border-radius: 4px;
            img, video {
              border-radius: 4px;
              border: 1px solid #333;
              box-shadow: 0px 0px 3px #333;
            }
          }
          img, video {
            will-change: width, height;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
        }
      }
    }

    img.avatar {
      border-radius: 32px;
      width: 24px;
      height: 24px;
      display: inline-block;
      margin: 5px 8px 0 0;
      box-shadow: 0px 0px 3px black;
      border: 1px solid white;
    }

    #login {
      z-index: 100;
      bottom: 0;
      width: 100%;
      padding-top: 40px;
      left: 0px;
      right: 0px;
      position: absolute;
      text-align: center;
      font-size: 11px;
      padding-bottom: 20px;
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 100%);
      img {
        width: 24px;
        height: 24px;
        border-radius: 100px;
        position: relative;
        top: 9px;
        margin-right: 10px;
      }
      .logout {
        display: inline-block;
        font-size: 8px;
        position: relative;
        top: 12px;
        left: 10px;
      }
    }

    .more {
      opacity: 0.5;
      width: 100%;
      color: #999;
      float: left;
      font-size: 12px;
      margin-top: 50px;
      text-align: center;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }
}

// Animations

.galleries-enter {}
.galleries-enter.galleries-enter-active {}
.galleries-leave {
  margin-top: 0px !important;
}
.galleries-leave.galleries-leave-active {
  margin-top: 12000px !important;
  transition: all 300ms ease-in;
}
